<h1 class="titulo">Linha</h1>
<p> O que deseja fazer? </p>
<div>
    <button mat-button color="primary">Filtrar por nome</button>
    <button mat-button color="primary">Listar todas</button>

    <button mat-button color="primary">Pesquisar uma linha</button>
</div>

<h4>Selecione um nome</h4>
<mat-form-field appearance="fill">
  <mat-label>Nome</mat-label>
  <mat-select [(value)]="selectedName" (selectionChange) = "getPesquisaPorName($event)">
    <mat-option></mat-option>
    <mat-option [value]="linha.nome" *ngFor = "let linha of linhasDeOnibus" >{{ linha.nome }}</mat-option>
  </mat-select>
</mat-form-field>

<table *ngIf = "selectedName" mat-table [dataSource] = "linhasDeOnibusNome" class = "mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- UserId Column -->
    <ng-container matColumnDef = "id">
      <th mat-header-cell *matHeaderCellDef> Id do usuário </th>
      <td mat-cell *matCellDef = "let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Id Column -->
    <ng-container matColumnDef = "codigo">
      <th mat-header-cell *matHeaderCellDef> Id da tarefa </th>
      <td mat-cell *matCellDef = "let element"> {{element.codigo}} </td>
    </ng-container>
  
    <!-- Title Column -->
    <ng-container matColumnDef = "nome">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef = "let element"> {{element.nome}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

