<mat-toolbar class="bg-blue">
    <div class="nav-content container">
        <a routerLink='' class="titulo">Minhas Tarefas</a>
        <nav *ngIf='routes'>
            <ul>
                <li *ngFor='let route of routes' class="subtitulos">
                    <a [routerLink]='route.path'></a>
                </li>
            </ul>
        </nav>
    </div>
</mat-toolbar>
