<p>itinerario works!</p>
<div >
    <p>{{ itinerario.idlinha }} - {{ itinerario.codigo }} - {{ itinerario.nome }}</p>
    <div *ngFor="let resposta of itinerario.latLon">
        <p> {{ resposta.lat }} - {{ resposta.lng }}</p>
        
    </div>


    
</div>
